.imgContato{

  grid-area: foto;
  justify-items: center;
  place-self: center;
  align-self: start!important;
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  width: 550px;
  max-height: 400px;
  padding: 5px;


  
}

.imagemHome{
  grid-area: main;
  width: 80% ;
  max-height: 100% ;
  border-radius: 0px ;
  justify-items: center;
  place-self: center;
  object-fit: cover;

}