.input4 {
  grid-area: input4;
  margin: 5px;
  font-size: 25px;
  background-color: #5c0511;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

button:hover {
  background-color: #F9AE48;
  transition-duration: 3s;
}