.header {
  grid-area: head;
  background-color:#FFFBEF;
  border: 2px solid rgba(88, 85, 85, 0.1);
  font-weight: bold;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 60px;
  padding: 0px;
  
}

.listaHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 50px);
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
}

.listaHeader li {
  list-style: none;
  color: #101010;
}
.listaHeader li a {
  text-decoration: none;
}
a:hover {
  color: #f9ae48;
  text-decoration: none;
}

.ancoraLogo{
  font-size: 35px;
  font-weight: normal;
  font-family: 'Bilbo Swash Caps', cursive;
}