.imgContato{
  grid-area: foto;
  justify-items: center;
  place-self: center;
  align-self: center;
  border-radius: 5px;
  max-width: 100%;
  width: 550px;
  max-height: 400px;
  margin-block-start: 0;
  
}