.App {
  text-align: center;
  background-color: #fffdf8;
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "footer footer";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 60px calc(100vh - 140px)  40px;
  font-family: 'Open Sans', sans-serif;
  gap: 25px;
  width: 100%;
}

body { overflow-x: hidden; }