.App {
  text-align: center;
  background-color: #fffdf8;
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "footer footer";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 60px calc(100vh - 120px) 40px;
  font-family: 'Open Sans', sans-serif;
  gap: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
