.App {
  text-align: center;
  background-color: #fffdf8;
  display: grid;
  grid-template-areas:
    "head head"
    "foto forms"
    "footer footer";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 60px calc(100vh - 100px) 40px;
  font-family: 'Open Sans', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* .InputForm {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
} */


/* .listaHeader{
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  margin: 0px;
  height: 50px;
  align-items: center;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
